html, body {
  height: 100%;
}
body {
    background: url('../img/background.png');
}
.container-fluid {
    height: 100%;
}
.container {
    background-color: #FFF;
    min-height: 100%;
}
.header {
    padding: 15px 0;
}
.header h1 {
    margin: 0;
}
.label a {
    color: #FFF;
}
.media-left i.liked {
}
.section-name {
    margin-top: 0;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}
.mfp-content .select2-container {
    width: 100% !important;
}
.no-padding {
    padding: 0;
}
h3 {
    margin-top: 0;
}
.red-star {
    font-weight: bold;
    color: red;
    cursor: help;
}
